In [87]:
import pandas as pd 
import numpy as np
import json

In [28]:
data = pd.read_json(r"C:\Users\ipavl\Учеба_УРФУ\1_курс\1_семестр\ИД\Practice_3\Homework_3_ID\tennis_racket_details_data.json")

In [29]:
df = pd.DataFrame(data)

In [30]:
df.head(5)

,Название,Артикул,Цена,Размер головы (кв.см.),Вес без натяжки (гр.),Длина:,Материал:
0,[Теннисная ракетка Head Extreme Pro 2024],[231104],32990,630,305,685.0,Графит
1,[Теннисная ракетка Tecnifibre TF-X1 285 v.2],[14TFX2854],30490,645,285,685.0,Графит
2,[Теннисная ракетка Tecnifibre TF-X1 305 v.2],[14TFX3054],31990,630,305,685.0,Графит
3,[Теннисная ракетка Tecnifibre TF-X1 300 v.2],[14TFX3004],31490,645,300,685.0,Графит
4,[Теннисная ракетка Wilson Blade 104 V9.0],[WR150011],36990,671,290,685.0,Графит

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239 entries, 0 to 238
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Название                239 non-null    object
 1   Артикул                 239 non-null    object
 2   Цена                    239 non-null    int64
 3   Размер головы (кв.см.)  239 non-null    object
 4   Вес без натяжки (гр.)   239 non-null    int64
 5   Длина:                  239 non-null    object
 6   Материал:               239 non-null    object
dtypes: int64(2), object(5)
memory usage: 13.2+ KB

In [46]:
# Удаляем строки с нечисловыми значениями в столбце 'Размер головы (кв.см.)'
df = df[pd.to_numeric(df['Размер головы (кв.см.)'], errors='coerce').notnull()]

#Теперь преобразуем к int, пропущенные значения заменятся NaN
df['Размер головы (кв.см.)'] = df['Размер головы (кв.см.)'].astype(int)

df = df[pd.to_numeric(df['Длина:'], errors='coerce').notnull()]
df['Длина:'] = df['Длина:'].astype(float)
df['Артикул'] = df['Артикул'].astype(str)

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 228 entries, 0 to 238
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Название                228 non-null    object
 1   Артикул                 228 non-null    object
 2   Цена                    228 non-null    int64
 3   Размер головы (кв.см.)  228 non-null    int64
 4   Вес без натяжки (гр.)   228 non-null    int64
 5   Длина:                  228 non-null    float64
 6   Материал:               228 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 14.2+ KB

In [52]:
# Статистические показатели для всех числовых признаков 
df.describe()

               Цена  Размер головы (кв.см.)  Вес без натяжки (гр.)      Длина:
count    228.000000              228.000000             228.000000  228.000000
mean   18382.706140              607.657895             254.267544  539.654825
std    12642.234094               61.964866              58.067661  225.326642
min     1990.000000              400.000000             125.000000   27.000000
25%     4990.000000              580.000000             200.000000  485.000000
50%    17990.000000              632.000000             260.000000  660.000000
75%    28990.000000              645.000000             300.000000  685.000000
max    49490.000000              690.000000             370.000000  698.000000

In [88]:
# Для одного поля
price_stat = np.array([df['Цена'] for item in df])

price_stats = {
    "Максимальное значение": int(np.max(price_stat)),
    "Минимальное значение": int(np.min(price_stat)),
    "Сумма значений": int(np.sum(price_stat)),
    "Среднее арифметическое значение": int(np.mean(price_stat))
}

with open('price_stats_5.json', 'w', encoding="utf-8") as f:
    json.dump(price_stats, f, ensure_ascii=False)

print(price_stats)

{'Максимальное значение': 49490, 'Минимальное значение': 1990, 'Сумма значений': 29338799, 'Среднее арифметическое значение': 18382}

Отсортируем значения по одному из доступных полей

In [63]:
filter_1 = df.loc[(df["Вес без натяжки (гр.)"] > 290) & (df["Цена"] < 25000)]
filter_1 = filter_1.reset_index()
print(filter_1)

    index                                           Название  \
0       9  [Теннисная ракетка Tecnifbre Tfight 315 Isofle...
1      10  [Теннисная ракетка Tecnifbre Tfight 300 Isofle...
2      15          [Теннисная ракетка Diadem Elevate 98 v.3]
3      21             [Теннисная ракетка Diadem Nova FS 100]
4      62  [Ракетка для падела Head Gravity Team Light 2024]
5      63        [Ракетка для падела Head Gravity Team 2024]
6      69         [Ракетка для падела Head Evo Extreme 2023]
7      71            [Теннисная ракетка Head Geo Speed 2024]
8     122   [Теннисная ракетка Head Challenge MP 2024 - Red]
9     123  [Теннисная ракетка Head Challenge MP 2024 - Blue]
10    136                     [Теннисная ракетка 7/6 A1 300]
11    140          [Wilson Blade 98 16x19 V8.0 US Open 2023]
12    142        [Теннисная ракетка Head Prestige Tour 2023]
13    145        [Теннисная ракетка Diadem Nova FS 100 Plus]
14    177      [Теннисная ракетка Diadem Elevate FS 98 Tour]
15    190  [Теннисная ракетка Tecnifibre TF-40 305 16X19 ...
16    191   [Теннисная ракетка Tecnifibre T-Rebound 298 Iga]
17    202           [Теннисная ракетка Tecnifibre TF-X1 300]
18    203  [Теннисная ракетка Tecnifibre TF-40 315 18X20 ...
19    204  [Теннисная ракетка Tecnifibre TF-40 315 16X19 ...
20    205  [Теннисная ракетка Tecnifibre TF-40 305 18X20 ...
21    215          [Теннисная ракетка Head Instinct MP 2022]
22    216             [Теннисная ракетка Head Boom 2022 Pro]
23    220        [Теннисная ракетка Head Prestige Tour 2021]
24    221        [Теннисная ракетка Head Prestige MP L 2021]
25    222          [Теннисная ракетка Head Prestige MP 2021]
26    224                 [Теннисная ракетка Head Geo Speed]
27    232  [Теннисная ракетка Babolat Pure Strike 18/20 2...
28    233  [Теннисная ракетка Babolat Pure Strike 16/19 2...

               Артикул   Цена  Размер головы (кв.см.)  Вес без натяжки (гр.)  \
0          ['14FI315']  23993                     630                    315
1          ['14FI300']  22868                     630                    300
2        ['RK-V3-ELV']  24990                     632                    305
3        ['RK-FS-NVA']  24490                     645                    300
4           ['224064']  19990                     490                    345
5           ['224024']  23990                     498                    360
6           ['226413']  13990                     511                    360
7           ['231375']   7490                     680                    295
8           ['235414']  13490                     645                    295
9           ['235404']  13490                     645                    295
10      ['AR76-A1300']  17990                     645                    300
11        ['WR133511']  24990                     632                    305
12          ['236113']  24990                     615                    315
13  ['RK-FS-NVA-PLUS']  24490                     645                    305
14  ['RK-FS-ELV-TOUR']  13990                     632                    315
15      ['14TF430562']  18990                     630                    305
16      ['14REB29822']  21990                     645                    298
17      ['14TFX30022']  19990                     645                    300
18      ['14TF431584']  18990                     630                    315
19      ['14TF431563']  18990                     630                    315
20      ['14TF430582']  18990                     630                    305
21          ['234302']  21990                     645                    300
22          ['233502']  17990                     630                    310
23          ['236111']  14990                     615                    315
24          ['236131']  14990                     640                    300
25          ['236121']  14990                     640                    310
26          ['235601']   6990                     680                    295
27          ['101404']  18490                     630                    305
28          ['101406']  17990                     630                    305

    Длина:      Материал:
0    685.0         Графит
1    685.0         Графит
2    685.0         Графит
3    685.0         Графит
4     46.0  Стекловолокно
5     46.0  Стекловолокно
6     46.0   2D Carbon HS
7    698.0       Композит
8    685.0         Графит
9    685.0         Графит
10   685.0         Графит
11   685.0         Графит
12   685.0         Графит
13   698.0         Графит
14   685.0         Графит
15   685.0         Графит
16   685.0         Графит
17   685.0         Графит
18   685.0         Графит
19   685.0         Графит
20   685.0         Графит
21   685.0         Графит
22    68.6         Графит
23   685.0      Graphene+
24   685.0         Графит
25   685.0      Graphene+
26    69.8       Композит
27    68.5       Graphite
28    68.5       Graphite

Выполним фильтрацию по другому полю

In [70]:
filter_2 = df.loc[(df['Материал:'] == 'Графит') & (df['Цена'] < 15000)]
filter_2 = filter_2.reset_index()
print(filter_2)

    index                                           Название  \
0      56           [Теннисная ракетка Head Extreme Jr 2022]
1     107  [Ракетка для сквоша Tecnifiber Carboflex Junio...
2     122   [Теннисная ракетка Head Challenge MP 2024 - Red]
3     123  [Теннисная ракетка Head Challenge MP 2024 - Blue]
4     146          [Теннисная ракетка Head IG Gravity Jr 25]
5     148     [Теннисная ракетка Head IG Gravity Jr 23 2023]
6     158  [Ракетка для сквоша Tecnifiber Corbonflex Xspe...
7     162        [Теннисная ракетка Head Gravity Jr 2023 26]
8     163        [Теннисная ракетка Head Gravity Jr 2023 25]
9     174            [Теннисная ракетка Diadem Rise 26 Teal]
10    175            [Теннисная ракетка Diadem Rise 25 Grey]
11    177      [Теннисная ракетка Diadem Elevate FS 98 Tour]
12    221        [Теннисная ракетка Head Prestige MP L 2021]

               Артикул   Цена  Размер головы (кв.см.)  Вес без натяжки (гр.)  \
0           ['235352']  13490                     645                    240
1       ['12CARJUNXT']   8990                     500                    155
2           ['235414']  13490                     645                    295
3           ['235404']  13490                     645                    295
4           ['235013']   7490                     645                    240
5           ['235023']   6990                     615                    215
6       ['12CAR130BL']  14990                     500                    130
7           ['235363']  13990                     645                    255
8           ['235373']  13990                     645                    230
9      ['RK-RSE26-TL']  14990                     645                    250
10     ['RK-RSE25-GR']   9990                     645                    240
11  ['RK-FS-ELV-TOUR']  13990                     632                    315
12          ['236131']  14990                     640                    300

    Длина: Материал:
0    660.0    Графит
1    635.0    Графит
2    685.0    Графит
3    685.0    Графит
4    635.0    Графит
5    585.0    Графит
6    685.0    Графит
7    660.0    Графит
8    635.0    Графит
9    685.0    Графит
10   635.0    Графит
11   685.0    Графит
12   685.0    Графит

Для одного текстового поля посчитаем частоту меток

In [71]:
freq = df['Материал:'].value_counts()
print(freq)

Материал:
Графит                           121
Алюминий                          73
Композит                           7
Graphite                           6
2D Carbon HS                       3
Карбон+Стекловолокно               2
Стекловолокно                      2
Graphene+                          2
X-Tend Carbon 12K                  1
Fibrix (карбон+стекловолокно)      1
Карбон                             1
Carbon+Fiberglass                  1
Материал не найден                 1
Xtend-Carbon 12K                   1
Графитовый композит                1
TriCarbon                          1
Аллюминий                          1
графит                             1
Graphite Composite                 1
композит                           1
Name: count, dtype: int64

In [75]:
freq_json = freq.to_json('freq_materials.json', force_ascii=False)

In [78]:
filter_material_price_json = filter_2.to_json('filter_material_price.json', force_ascii=False, orient="records", indent=4)

In [79]:
filter_weight_price_json = filter_2.to_json('filter_weight_price_json', force_ascii=False, orient="records", indent=4)